<!DOCTYPE html>
<html>
<head>
    <title>College Student Records</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

<h1>Flask DataBase Application</h1>
<h2 class="version">Version {{ version }}</h2>
<h2 class="hostname">-- {{ hostname }} --</h2>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        {% for student in students %}
        <tr>
            <td>{{ student['id'] }}</td>
            <td>{{ student['name'] }}</td>
            <td>{{ student['age'] }}</td>
            <td><a href="mailto:{{ student['email'] }}">{{ student['email'] }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</body>
</html>
